.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}
.card-img {
  width: 100%;
  border-radius: 4px;
}

div#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
}

.card-title {
  text-transform: capitalize;
}
